- if show_promotions? && show_callout?('promote_repository_features_dismissed') && (!@project.feature_available?(:push_rules) || !@project.feature_available?(:repository_mirrors) || !@project.feature_available?(:protected_refs_for_users))
  .user-callout.promotion-callout{ id: 'promote_repository_features', data: { uid: 'promote_repository_features_dismissed' } }
    .bordered-box.content-block
      %button.gl-button.btn.btn-default-tertiary.close.js-close-callout{ type: 'button', 'aria-label' => s_('Promotions|Dismiss repository features promotion') }
        = sprite_icon('close', size: 16, css_class: 'dismiss-icon')
      .svg-container
        = custom_icon('icon_push_rules')
      .user-callout-copy
        %h4
          - if Gitlab::CurrentSettings.should_check_namespace_plan?
            = s_('Promotions|Upgrade your plan to improve repositories.')
          - else
            = s_('Promotions|Improve repositories with GitLab Enterprise Edition.')
        %ul
          - unless @project.feature_available?(:push_rules)
            %li
              = link_to s_('Promotions|Push Rules'), help_page_path('user/project/repository/push_rules.md'), target: '_blank', rel: 'noopener noreferrer'
              %p
                = s_('Promotions|Push Rules are defined per project so you can have different rules applied to different projects depends on your needs.')
          - unless @project.feature_available?(:repository_mirrors)
            %li
              = link_to s_('Promotions|Repository Mirroring'), help_page_path('user/project/repository/mirror/index.md'), target: '_blank', rel: 'noopener noreferrer'
              %p
                = s_('Promotions|Repository Mirroring is a way to mirror repositories from external sources. It can be used to mirror all branches, tags, and commits that you have in your repository.')
          - unless @project.feature_available?(:protected_refs_for_users)
            %li
              = link_to s_('Promotions|Better Protected Branches'), help_page_path('user/project/protected_branches.md'), target: '_blank', rel: 'noopener noreferrer'
              %p
                = s_('Promotions|You can restrict access to protected branches by choosing a role (Maintainers, Developers) as well as certain users.')

        = render 'shared/promotions/promotion_link_project', location: :repository_features
